@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
body{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
main{
    position: relative;
    background-image: url('./bg-img.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 88vh;
}
main::before{
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    background-color: #0f1f32bb;
}
.developer-info{
    position: relative;
    z-index: 1;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding-right: 6rem;
    height: 100%;
}
nav{
    background-color: #C80A48;
    color: white;
}
.developer-info p{
    font-size: 1.7rem;
}
.dev-name{
    margin: 0;
}
.hello-message{
    margin: .5rem 0;
}
.creative-dev-head{
    font-size: 2.5rem;
    margin: .5rem 0;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 3rem;
    padding-right: 6rem;
}
nav a{
    display: inline-block;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.581);
    margin: 0 .8rem;
    font-size: .9rem;
}
.home{
    color: white;
}
.learn-more-btn{
    padding: .8rem 1.5rem;
    background-color: #C80A48;
    color: white;
    border: none;
    font-weight: 700;
}
.links{
    display: flex;

}

@media (max-width: 1200px){
    
}
@media (max-width: 992px){

}
@media (max-width: 900px){
    nav{
        flex-wrap: wrap;
    }
    .links{
        flex-wrap: wrap;
    }
}

@media (max-width: 767px){
    .developer-info p{
        font-size: 1.5rem;
    }
    nav{
        padding: 0.5rem 1.5rem ;
    }
    .nav-links{
        font-size: .8rem;
        margin: .4rem;
    }
    .developer-info p{
        font-size: 1.2rem;
    }
    .creative-dev-head{
        font-size: 2rem;
    }
    .learn-more-btn{
        font-size: .6rem;
    }
}

@media (max-width: 700px){
    nav{
        flex-wrap: wrap;
    }
    .nav-heading{
        margin: 1rem 0;
    }
    .developer-info{
        padding-right: 3rem;
    }
}

@media (max-width: 612px){
    nav{
        justify-content: center;
        padding: .4rem 1.5rem;
    }
}
@media (max-width: 576px){
    .links{
        justify-content: center;
    }
    .developer-info{
        align-items: center;
        padding: 0;
    }

}
@media (max-width: 400px){
    .developer-info p{
        font-size: .9rem;
    }
    .creative-dev-head{
        font-size: 1.8rem;
    }
    nav{
        padding: 0 1rem;
    }
}