@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;700;800&display=swap');

.main{
    background-color: rgb(218, 218, 218);
    font-family: 'Mukta', sans-serif;
    padding: 70px;
    width: 710px;
    height: 370px;
   
}
.first h1{
    letter-spacing: 2px;
    font-weight: 800;
    border-bottom: 3px solid black;
}
.second{
    
}
.images{
    width: 170px;
    height: 170px;
    padding: 2px;
    object-fit: cover;
}
.third{

}
button{
    letter-spacing: 2px;
    cursor: pointer;
    font-weight: 700;
    width: 130px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    color: white;
    background-color: rgb(17, 17, 17);
}