@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@600;700&display=swap');
body{
    padding: 0;
    margin: 0;
}
main{
    display: flex;
    justify-content: space-between;
}
.image1{
    margin-right: 2rem;
    width: 40vw;
    height: 100vh;
}
.firm-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.career-guide-head, .site-name{
    font-size: 3rem;
    margin: 1rem 0;
    font-family: 'Gabarito', cursive;
}
.boutique-ad{
    font-family: 'Gabarito', cursive;
    text-align: right;
    position: relative;
    padding: 1rem 0;
}
.boutique-firm-head{
    font-size: 4.2rem;
    margin: 0;
    color: #FF5722;
}
.boutique-ad::before{
    content: '';
    position: absolute;
    width: 40%;
    border-top: 5px solid black;
    top: 0;
    left: 60%;
}
.boutique-ad::before{
    content: '';
    position: absolute;
    border-bottom: 5px solid black;
    width: 40%;
    bottom: 0;
    left: 60%;
}
.site-name{
    font-size: 1.2rem;
}
.section1{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 4rem;
}

@media (max-width: 1200px){
    
}
@media (max-width: 992px){
    .boutique-firm-head{
        font-size: 3.8rem;
    }
    .career-guide-head{
        font-size: 2.5rem;
    }
    .site-name{
        font-size: 1rem;
    }
    
    main{
        flex-wrap: wrap;
    }
}
@media (max-width: 881px){
    .image1{
        width: 100vw;
        margin: 0;
    }
    .section1{
        margin: 0;
        margin-top: 1rem;
        align-items: center;
    }
    .boutique-ad{
        text-align: center;
    }
    main{
        justify-content: center;
        align-items: center;
    }
    .boutique-ad::before{
        left: 30%;
    }
}
@media (max-width: 767px){
    .image1{
        height: 90vh;
    }
    .section1{
        margin-right: 2rem;
    }
    .boutique-firm-head{
        font-size: 3.2rem;
    }
    .career-guide-head{
        font-size: 2rem;
    }
    .site-name{
        font-size: 1rem;
    }
}
@media (max-width: 576px){
    .image1{
        height: 85vh;
    }
    .section1{
        margin-right: 1rem;
    }
    .boutique-firm-head{
        font-size: 2.8rem;
    }
    .career-guide-head{
        font-size: 1.8rem;
    }
    .site-name{
        font-size: .8rem;
    }
}
@media (max-width: 400px){
    .image1{
        height: 75vh;
    }
    .boutique-firm-head{
        font-size: 2.3rem;
    }
    .career-guide-head{
        font-size: 1.2rem;
    }
    .site-name{
        font-size: .6rem;
    }   
    .boutique-ad::before{
        border-width: 4px;
    } 
}
