@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Mukta:wght@200;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;700&family=Poppins:wght@200&display=swap');

.main{
    padding: 35px;
    border: 2px solid grey;
    width: 450px;
    margin: auto;
    background-color: rgb(226, 226, 226);
}
.first{
    width: 100%;
    height: 300px;
}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: -10px;
}
h1{
    font-size: 40px;
    border-bottom: 1px solid lightgray;
    font-family: 'Architects Daughter', cursive;
}
p{
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
}
button{
    font-family:'Poppins', sans-serif;
    background-color: rgb(0, 72, 139);
    width: 140px;
    height: 40px;
    border-radius: 50px;
    color: white;
    border: none;
    cursor: pointer;
}